In [ ]:
import pandas as pd

#Matrix measurement
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

#Machine Learning Model
from sklearn.ensemble import RandomForestClassifier

# import train/test splitting function from sklearn
from sklearn.model_selection import train_test_split

from sklearn.preprocessing import LabelEncoder

In [ ]:
#import the CSVs
test_df = pd.read_csv('Test.csv')
train_df = pd.read_csv('Train.csv')

In [ ]:
#checking for class imbalance on the target value
train_df['target'].value_counts()

0    7131
1     605
Name: target, dtype: int64

In [ ]:
test_df.head()

            ID  gender  age  ... help_on_household job_or_business  nature_of_work
0  ID_00241643  Female   23  ...                No  Not applicable       Permanent
1  ID_00312043  Female   64  ...                No              No  Not applicable
2  ID_00345323  Female   18  ...                No              No  Not applicable
3  ID_00369643  Female   19  ...                No              No  Not applicable
4  ID_00381163  Female   24  ...                No              No  Not applicable

[5 rows x 20 columns]

In [ ]:
train_df.head()

            ID  gender  age  ... job_or_business  nature_of_work target
0  ID_00008683  Female   20  ...              No  Not applicable      0
1  ID_00061163  Female   42  ...  Not applicable       Permanent      0
2  ID_00071403  Female   86  ...              No  Not applicable      0
3  ID_00077803  Female   20  ...              No  Not applicable      0
4  ID_00086763  Female   26  ...              No  Not applicable      0

[5 rows x 21 columns]

In [ ]:
#checking if there are any null values in the whole dataframe
train_df.isnull().sum()

ID                   0
gender               0
age                  0
race                 0
dwelling             0
dwelling_type        0
province_code        0
metro_code           0
psu                  0
nationality          0
RTH                  0
marital_st           0
Lang_inside          0
Lang_outside         0
Education            0
lw_work              0
lw_business          0
help_on_household    0
job_or_business      0
nature_of_work       0
target               0
dtype: int64

In [ ]:
#LabelEncoder encodes values with 0 and n-classes - 1 where n is the number of distinct classes
label = LabelEncoder()

train_df['gender'] = label.fit_transform(train_df['gender'])
train_df['race'] = label.fit_transform(train_df['race'])
train_df['dwelling'] = label.fit_transform(train_df['dwelling'])
train_df['dwelling_type'] = label.fit_transform(train_df['dwelling_type'])
train_df['province_code'] = label.fit_transform(train_df['province_code'])
train_df['metro_code'] = label.fit_transform(train_df['metro_code'])
train_df['nationality'] = label.fit_transform(train_df['nationality'])
train_df['RTH'] = label.fit_transform(train_df['RTH'])
train_df['marital_st'] = label.fit_transform(train_df['marital_st'])
train_df['Lang_inside'] = label.fit_transform(train_df['Lang_inside'])
train_df['Lang_outside'] = label.fit_transform(train_df['Lang_outside'])
train_df['Education'] = label.fit_transform(train_df['Education'])
train_df['lw_work'] = label.fit_transform(train_df['lw_work'])
train_df['lw_business'] = label.fit_transform(train_df['lw_business'])
train_df['help_on_household'] = label.fit_transform(train_df['help_on_household'])
train_df['job_or_business'] = label.fit_transform(train_df['job_or_business'])
train_df['nature_of_work'] = label.fit_transform(train_df['nature_of_work'])

In [ ]:
train_df.head(2)

            ID  gender  age  ...  job_or_business  nature_of_work  target
0  ID_00008683       0   20  ...                1               3       0
1  ID_00061163       0   42  ...                2               4       0

[2 rows x 21 columns]

In [ ]:
# Separate majority and minority classes
from sklearn.utils import resample
df_majority = train_df[train_df.target==0]
df_minority = train_df[train_df.target==1]
 
# Downsample majority class 
df_majority_downsampled = resample(df_majority, 
                                 replace=False,    # sample without replacement
                                 n_samples= 605,     # to match minority class
                                 random_state=123) # reproducible results
 
# Combine minority class with downsampled majority class
df_downsampled = pd.concat([df_majority_downsampled, df_minority])
 
# Display new class counts
df_downsampled.target.value_counts()

1    605
0    605
Name: target, dtype: int64

In [ ]:
# split data into predictors and response
# THIS X AND Y VALUE ARE BASED ON MERGED DATAFRAME AND THEREFORE IS NOT THE SAME AS THE UNMERGE ONE. X COLS WILL DIFFER

X = train_df.drop(['target', 'ID', 'gender'], axis=1)
y = train_df['target']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    test_size=0.30, 
                                                    random_state=42)

In [ ]:
# Fitting Random Forest Regression to the dataset
regressor = RandomForestClassifier()
regressor.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
#print the classification report
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.92      1.00      0.95      2129
           1       0.00      0.00      0.00       192

    accuracy                           0.91      2321
   macro avg       0.46      0.50      0.48      2321
weighted avg       0.84      0.91      0.88      2321

In [ ]:
#print the confusion matrix
cm = confusion_matrix(y_test, y_pred)                                           
cm

array([[2121,    8],
       [ 192,    0]])

# Test

In [ ]:
# preprocessing
test_df['gender'] = label.fit_transform(test_df['gender'])
test_df['race'] = label.fit_transform(test_df['race'])

# preprocess all the othe columns as well
test_df['dwelling'] = label.fit_transform(test_df['dwelling'])
test_df['dwelling_type'] = label.fit_transform(test_df['dwelling_type'])
test_df['province_code'] = label.fit_transform(test_df['province_code'])
test_df['metro_code'] = label.fit_transform(test_df['metro_code'])
test_df['nationality'] = label.fit_transform(test_df['nationality'])
test_df['RTH'] = label.fit_transform(test_df['RTH'])
test_df['marital_st'] = label.fit_transform(test_df['marital_st'])
test_df['Lang_inside'] = label.fit_transform(test_df['Lang_inside'])
test_df['Lang_outside'] = label.fit_transform(test_df['Lang_outside'])
test_df['Education'] = label.fit_transform(test_df['Education'])
test_df['lw_work'] = label.fit_transform(test_df['lw_work'])
test_df['lw_business'] = label.fit_transform(test_df['lw_business'])
test_df['help_on_household'] = label.fit_transform(test_df['help_on_household'])
test_df['job_or_business'] = label.fit_transform(test_df['job_or_business'])
test_df['nature_of_work'] = label.fit_transform(test_df['nature_of_work'])

In [ ]:
### predict on the test data
test_ = test_df.drop(["ID", 'gender'], axis=1)
test_predictions = regressor.predict(test_)
submission_df = pd.DataFrame()
submission_df["ID"] = test_df["ID"]
submission_df["target"] = test_predictions
submission_df.head()

            ID  target
0  ID_00241643       0
1  ID_00312043       0
2  ID_00345323       0
3  ID_00369643       0
4  ID_00381163       0

In [ ]:
a = submission_df['target'].unique()
print(a)

[0 1]

In [ ]:
#Save as csv
submission_df.to_csv("friend.csv", index=False)